# Cole estes valores no Vercel e/ou no seu ambiente local

FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"SEU_PROJETO_FIREBASE","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"firebase-adminsdk-xxx@SEU_PROJETO_FIREBASE.iam.gserviceaccount.com","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/..."}
GOOGLE_CALENDAR_SERVICE_ACCOUNT={"type":"service_account","project_id":"SEU_PROJETO_GOOGLE","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"agenda-bot@SEU_PROJETO_GOOGLE.iam.gserviceaccount.com","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/..."}
GOOGLE_CALENDAR_ID=seu_calendario@group.calendar.google.com
GOOGLE_CALENDAR_TUTOR_EMAIL=tutor@basedspeak.com
GOOGLE_CALENDAR_TIMEZONE=America/Sao_Paulo
GOOGLE_CALENDAR_SLOT_DURATION_MINUTES=50
GOOGLE_CALENDAR_SLOT_GAP_MINUTES=10
GOOGLE_CALENDAR_WORKDAY_START_HOUR=9
GOOGLE_CALENDAR_WORKDAY_END_HOUR=18
GOOGLE_CALENDAR_WORKDAYS=1,2,3,4,5
